/*------------#special-article--------------*/
#special-article .images>img{
    width: 100%;
    max-height: 205px;
    float: left;
}
#special-article h2{
    margin-top: 0px;
    padding-bottom: 10px;
}
#special-article a{
    font-family: Roboto;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 20px;
}
#special-article .question>span{
    width: 60px;
    height: 60px;
    float: left;
    text-align: center;
    font-size: 40px;
}
#special-article .question>a{
    width: calc(100% - 60px);
    height: 60px;
    float: left;
}
#special-article>.first-artical>.content>h2{
    padding-left: 5px;
    width: calc(100% - 5px);
}
/*------------#war-banner--------------*/
#war-banner>.col33{
    margin-right: 15px;
}
#war-banner>.col33:last-child{
    margin-right: unset;
}
#war-banner .warpper{
    height: 180px;
    width: 100%;
    float: left;
}
#war-banner>.col33>.w-center{
    margin: 0px 5px;
}
#war-banner>.col33>.last{
    float: right;
}
@media(min-width: 767px){
    #war-banner>.col33{
        width: calc(33.33333% - 10px);
    }
}
@media(max-width: 767px){
    #war-banner>.col33{
        width: 100%;
    }
}