/*------------#special-article--------------*/
#special-article .images>img{
    width: 100%;
    max-height: 205px;
    float: left;
}
#special-article h2{
    padding: 10px 0px;
    margin: unset;
}
#special-article a{
    font-family: Roboto;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 20px;
}
#special-article .question>span{
    width: 60px;
    height: 60px;
    float: left;
    text-align: center;
    font-size: 40px;
}
#special-article .question>a{
    width: calc(100% - 60px);
    min-height: 10px;
    float: left;
}
#special-article>.first-artical>.content>h2{
    padding-left: 5px;
    width: calc(100% - 5px);
}
/*------------#war-banner--------------*/
#war-banner>.col33{
    margin-right: 15px;
}
#war-banner>.col33:last-child{
    margin-right: unset;
}
#war-banner .warpper{
    height: 180px;
    width: 100%;
    float: left;
}
#war-banner>.col33>.w-center{
    margin: 0px 5px;
}
#war-banner>.col33>.last{
    float: right;
}
@media(min-width: 767px){
    #war-banner>.col33{
        width: calc(33.33333% - 10px);
    }
}
@media(max-width: 767px){
    #war-banner>.col33{
        width: 100%;
    }
}

/*------------#category left--------------*/
#left>div{
    margin-bottom: 20px;
    width: calc(100% - 2px);
}
#left>div:last-child{
    margin-bottom: unset;
}
#left>div>.title-page{
    background: rgba(255, 255, 255, 0.2);
}
#left>div>.title-page>h3{
    padding: 5px 0px 10px;
    text-align: center;
}
#category-left>ul{
    padding-left: 10px;
    width: calc(100% - 10px);
}
#category-left h3>a:hover{
    text-decoration: underline;
}
#category-left .parent>ul{
    display: none;
    padding-left: 10px;
    position: absolute;
    left: calc(25% + 13px);
    background: rgb(158, 132, 136);
    top: 395px;
    min-height: 360px;
    z-index: 9;
}
#category-left .parent:hover ul{
    display: block;
}
#category-left ul>li{
    padding-bottom: 5px;
}
/*-------box-face--------*/
.facebook-plugin{
    text-align: center;
    padding-bottom: 10px;
}

/*-------special-product-------*/
#special-product{
    max-height: 845px;
    overflow: hidden;
}
#special-product>.war-special{
    max-height: 800px;
    overflow: hidden;
}
#special-product>.war-special>ul{
    padding-left: unset;
    margin: unset;
}
#special-product>.war-special>ul>li{
    margin: 5px 0px;
    height: 147px;
    background: rgba(255, 255, 255, 0.2);
}
#special-product .images{
    width: 120px;
    height: 100%;
    float: right;
}
#special-product .content{
    width: calc(100% - 130px);
    height: 100%;
    float: right;
    margin-left: 10px;
}
#special-product .content>h3{
    height: calc(100% - 50px);
    overflow: hidden;
}
#special-product .content>h4,#special-product .content>.rating{
    margin: unset;
    height: 25px;
}