#conten-right{
    width: calc(75% - 12px);
    min-height: 10px;
    float: right;
    margin-left: 10px;
}
#left{
	width: calc(25% - 12px);
	margin-right: 10px;
	min-height: 10px;
	float: right;
}
#product-detail>.left{
	width: calc(40% - 42px);
	height: 481px;
	padding: 10px;
	margin-right: 20px;
	float: right;
}
#product-detail>.content{
    width: calc(60% - 25px);
    min-height: 400px;
    float: right;
    margin-left: 25px;
}
#information>.title-page{
	background: rgba(255, 255, 255, 0.2);
	padding: 10px 0px;
}
#information>.title-page span{
	background: unset;
    height: unset;
    padding-bottom: 15px;
}
#information>.product-rating{
	float: left;
    padding: 10px 0px;
}
.product-rating>.rating,.product-rating>p{
	min-width: 10px;
	height: 100%;
	float: left;
	margin: 0px 10px 0px 0px;
}
.product-rating>p>span{
    padding: 0px 10px;
}
#detai>h3{
	padding: 5px 0px;
}
#detai>h3>p{
	margin: 0px;
	width: 180px;
	height: 100%;
	float: left;
}
#detai>h3>span{
	height: 100%;
	width:calc(100% - 180px);
	float: left;
}
#product-price>h1{
	margin:0px;
	color: #0D2D5B;
	padding-bottom: 10px;
}
#product-price>h1>span{
	color: orange;
	padding: 0px 20px;
}
#shopping-cart{
	padding: 10px 0px;
}
#shopping-cart>.col50{
	width: 50%;
	height: 30px;
	float: left;
}
#shopping-cart>.col35{
	width: 35%;
	height: 30px;
	float: left;
}
#shopping-cart>.number>p{
    width: 95px;
    height: calc(100% - 3px);
    float: left;
    padding-top: 3px;
    font-size: 17px;
	margin: 0px;
}
#shopping-cart>.number>input{
	height: calc(100% - 6px);
    width: calc(100% - 120px);
    float: left;
}
#shopping-cart h4{
    width: calc(60% - 3px);
    float: left;
    height: calc(100% - 4px);
    margin: unset;
    text-align: center;
    padding-top: 3px;
    color: rgb(77, 69, 80);
    border-color: rgb(77, 69, 80);
}
#shopping-cart>.cart>span{
	width: 40px;
    float: left;
    color: #fff;
    text-align: center;
    padding-top: 4px;
    height: calc(100% - 6px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    margin-left: 15px;
}
#social-network{
	height: 30px;
	padding: 10px 0px;
}
#tags{
	padding-left: unset;
    margin: unset;
}
#tags>li{
	height: 25px;
	padding: 0px 5px;
	float: left;
}
#tags>li>span{
	padding-right: 5px;
}
#images{
	height: calc(100% - 80px);
	text-align: center;
}
#images>div{
	height: calc(100% - 20px);
	margin-bottom: 10px;
	padding-bottom: 10px;
}
#list-images{
    height: 80px;
    overflow: hidden;
}
#list-images>ul{
	margin: unset;
	padding-left: unset;
}
#list-images>ul>li{
	margin-left: 10px;
}
#list-images>ul>li,#list-images>ul>li>img{
	height: 100%;
	width: 72px;
	float: left;
}
#list-images>ul>li>img:hover{
	cursor: pointer;
}
/*container*/
#product-content>.title-page{
	background: rgba(255, 255, 255, 0.2);
	padding-bottom: 5px;
}
#product-content>.container{
	padding: 10px;
	width: calc(100% - 20px);
	min-height: 300px;
	float: left;
}
.related-product{
	background: rgba(255, 255, 255, 0.2);
    margin-top: 35px;
}
.related-product>.title-page{
	padding-top: unset;
}
.related-product>.title-page>h3>span,#comment>.title-page>h3>span{
	width: calc(100% - 20px);
}
.related-product>.scoll>ul>li{
	margin-bottom: 20px;
}

/*-----bình luận sản phẩm------*/
#comment{
	margin-top: 20px;
	min-height: 285px;
}
#comment>.content>.war-comment{
	width: 900px;
	min-height: 10px;
	margin: 0px auto;
	background: #fff;
}
#comment>.content{
	padding-bottom: 30px;
}
@media(min-width: 767px){
	#comment>.content>.war-comment{
		width: 900px;
	}
	#conten-right{
		width: calc(75% - 12px);
	}
	#information>.product-rating{
		height: 30px;
		width: 100%;
	}
	#images>.zoom>img{
	    height: 100%;
		width: auto;
	}
}
@media(max-width: 767px){
	#wrapper,#shopping-cart>div:first-child{
		display: none;
	}
	#comment>.content>.war-comment,#conten-right,#product-detail>.content{
		width: 100%;
	}
	#product-content>.container img{
		max-width: 100%;
		height: auto;
		float: left;
	}
	#header{
		padding-bottom: 40px;
    	margin-bottom: unset;
	}
	#information>.product-rating{
	    height: unset;
	    min-height: 10px;
	    width: calc(100% - 15px);
	    padding-left: 10px;
	}
	.product-rating>.rating, .product-rating>p{
		margin-top: 5px;
	}
	#social-network,.scoll{
		overflow: hidden;
		overflow-x: scroll;
	}
	#detai{
		padding-left: 15px;
		width: calc(100% - 15px);
	}
	#shopping-cart>div:last-child{
		width: calc(100% - 15px);
    	padding-left: 15px;
	}
	#product-detail>.left{
		margin-right: unset;
		width: calc(100% - 22px);
	}
	#images>.zoom>img{
	    width: 100%;
		height: auto;
	}
	.scoll>ul{
	    height: 463px;
	}
	.related-product>.scoll>ul>li{
		height: 443px;
	}
	.scoll li>.images{
		height: 240px;
	}
}