ul{list-style: none;}
a{text-decoration: none;color: #fff;}
body{
	width: 100%;
	min-height: 1px;
	float: left;
	margin: unset;
	background-color: #282C34;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.4;
    font-style: normal;
    font-weight: normal;
    color: rgb(255, 255, 255);
    text-transform: none;
    letter-spacing: 0px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
h3{margin: unset;}
.mb,.hidden{display: none;}
.hide-mobile{display: block;}
.col65{width: 65%;height: 100%;float: left;}
.col50{width: 50%;height: 100%;float: left;}
.col20{width: 20%;height: 100%;float: left;}
.col25{width: 25%;height: 100%;float: left;}
.col33{width: 33.33333%;height: 100%;float: left;}
.col35{width: 35%;height: 100%;float: left;}
.bor-t{border-top: 1px solid rgba(255, 255, 255, 0.2);}
.bor-b{border-bottom: 1px solid rgba(255, 255, 255, 0.2);}
.bor-box{border: 1px solid rgba(255, 255, 255, 0.2);}
.w100min{width: 100%;min-height: 10px;float: left;}
.wh100{width: 100%;height: 100%;float: left;}
.bkg-addcart{background: #aeccd4;}
.color-active{color: #aeccd4 !important;}
.red{color: red}
.active-nav{text-decoration: underline;}
.scroll-x{
    overflow-x: scroll !important;
}
.scroll-y{
    overflow-y: scroll !important;
}
.title-page{
	width: 100%;
	min-height: 10px;
	padding: 5px 0px;
    float: left;
}
.title-page>h3{
    width: 100%;
    min-height: 10px;
    float: left;
}
.title-page>h3>span{
    height: 36px;
    background: rgba(255, 255, 255, 0.2);
    padding: 15px 10px 0px;
    min-width: 10px;
    float: left;
}
.nametext{
    font-family: Roboto;
    line-height: 1.2;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0px;
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 13px;
    padding-left: 20px;
    font-size: 15px;
    text-align: center;
}
#header{
    margin-bottom: 40px;
    border-bottom: 5px solid #fff;
}
#container{
	width: 1300px;
	min-height: 10px;
	background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.05);
    float: left;
}
#logo>h1{
    height: 100%;
    width: auto;
    float: left;
    margin: 0px;
}
#logo a{
    color: #fff;
    font-family: cursive;
    font-size: 45px;
    height: 100%;
    width: auto;
    float: left;
}
#logo img{
    height: 100%;
    width: auto;
    float: left;
}
#layout-left,#layout-right{
	width: calc(50% - 650px);
	min-height: 1px;
	float: left;
}
#topbar-top{
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
#topbar-top a{color: #fff}
#topbar-top .container{
	height: 25px;
	padding: 5px 10px;
	min-width: 10px;
	float: right;
}
#topbar-top>.container p{
    margin: 0px;
    float: left;
}
#topbar-top  .col-top{
	height: 100%;
	min-width: 10px;
	padding: 0px 5px;
	float: left;
    margin: 0px 10px;
}
#topbar-top i{
	color: #fff;
    float: left;
}
#topbar-top .check-cart>a>i{
    padding: 4px 5px 0px;
}
#topbar-top .langauge img{
	width: 15px;
	height: 15px;
}
#topbar-top .myaccount>ul{
	position: absolute;
    right: 80px;
    margin-top: unset;
    padding: 10px 20px;
}
#topbar-top .myaccount>ul>li{
	margin-top: 8px;
}
#topbar-top .myaccount:hover .login{
	display: block;
	background: #fff;
}
#topbar-top .myaccount:hover .login a{
	color: rgb(152, 139, 146);
}
#topbar-contact{
    height: 100%;
    min-width: 10px;
    float: left;
    padding: 5px 15px;

}
#topbar-contact .topbar-contact-email{
	height: 100%;
    min-width: 10px;
    float: left;
    padding-right: 20px;
}
#topbar-contact .topbar-contact-zalo{
    height: 100%;
    min-width: 10px;
    float: left;
}
#topbar-contact .topbar-contact-zalo:first-child{
	margin-right: 15px;
}
#topbar-contact a,#topbar-contact h3{
    font-weight: normal;
    font-size: 15px;
}
#topbar-contact a{
    text-decoration: underline;	
}
#topbar-bottom{
	height: 70px;
	width: 100%;
	margin-bottom: 10px;
}
#topbar-bottom-right{
	padding: 20px 0px 5px;
	height: calc(100% - 30px);
}
#topbar-bottom-right .search{
	width: 400px;
	height: 37px;
	float: left;
}
#topbar-bottom-right .cart{
    min-width: 155px;
    height: 25px;
    float: left;
    padding: 5px;
    margin-left: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}
#topbar-bottom-right .cart h3{
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: normal;
}
#topbar-bottom-right .cart-item{
    font-weight: bold;
    text-decoration: underline;
}
#form-search{
	border: 1px solid rgba(255, 255, 255, 0.2);
	width: calc(100% - 2px);
}
#form-search input{
	background-color: transparent;
    border: none;
    height: 35px;
    padding: 5px 10px;
    width: calc(100% - 40px);
    box-sizing: border-box;
}
#form-search button{
    border: none;
    width: 30px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0);
    color: #fff;
    padding: 0px;
}
#menu{
	background: rgb(255, 255, 255);
}
#menu>.nav-bar{
    margin: 0px;
    padding: 10px 0px;
    width: 100%;
    height: calc(100% - 20px);
    float: left;
}
#menu>.nav-bar li{
    min-width: 10px;
    height: 100%;
    float: left;
    padding: 5px;
}
#menu>.nav-bar>li:hover{
    background: rgb(247, 245, 245);
}
#menu>.nav-bar>.parent>ul{
    position: absolute;
    min-height: 10px;
    padding: 10px 0px;
    background: rgb(247, 245, 245);
    display: none;
    width: 352px;
    float: left;
    z-index: 9;
}
#menu>.nav-bar h3>a:hover{
 	text-decoration: underline;
}
#menu>.nav-bar>.parent:hover ul{
	display: block;
}
#menu>.nav-bar a{
    font-family: Roboto;
    line-height: 1.2;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0px;
    color: rgb(152, 139, 146);
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 13px;
    padding-left: 20px;
    font-size: 15px;
    text-align: center;
}
#menu .parent>ul>li{
    width: 100%;
}
#wrapper .col25-p{
    min-height: 10px;
    margin: 10px 6px;
    width: calc(25% - 9px);
    float: left;
    background-color: rgba(255, 255, 255, 0.2);
    text-align: center;
}
#wrapper>.first{
    margin-left: unset;
}
#wrapper>.last{
    margin-right: unset;
}
#wrapper>div>h4{
    margin-top: unset;
    margin-bottom: unset;
    color: #fff;
    line-height: 1.7;
}
/*END HEADER*/
/*CONTENT*/
#product-mostview{
    padding-bottom: 20px;
    border-bottom: 5px solid rgba(255, 255, 255, 0.2);
}
#product-mostview .scoll{
    overflow: hidden;
}
.title-page{
    border-width: 5px;
    margin-bottom: 10px;
    padding-bottom: unset;
    border-color: #fff;
}
.scoll{
    width: 100%;
    min-height: 10px;
    float: left;
}
.scoll>ul>li:last-child{
    margin-right: unset !important;
}
.scoll>ul{
    width: 100%;
    height: 100%;
    float: left;
    padding-left: unset;
    margin: 0px;
}
.scoll li>.images{
    height: 176.66px;
    margin-bottom: 5px;
}
.scoll li>.images:hover .zoom-out{
    display: block;
}
.scoll .images>a>img{
    width: 100%;
    height: 100%;
    float: left;
}
.scoll .content>.name{
    height: 96px;
    overflow: hidden;
}
.scoll .detail>.price{
    font-family: Roboto;
    line-height: 1.2;
    font-weight: 700;
    color: rgb(77, 69, 80);
    font-size: 22px;
    padding: 5px 0px;
    float: left;
}
.scoll h4,.scoll p{
    margin-top: 0px;
    margin-bottom: 5px;
}
.scoll .detail>.cart{
    width: 100%;
    height: 30px;
    float: left;
}
.scoll .detail>.rating{
    height: 25px;
    margin-bottom: 5px;
}
.detail>.cart>span{
    border: 1px solid;
    border-color: rgba(255, 255, 255, 0.2);
    margin-left: 5px;
    height: 24px !important;
}
.detail>.cart>span>i{
    font-size: 20px;
}
.scoll .cart>.add-cart{
    width: calc(60% - 2px);
    float: left;
    height: calc(100% - 4px);
    margin-bottom: unset;
    text-align: center;
    padding-top: 2px;
    color: rgb(77, 69, 80);
    border-color: rgb(77, 69, 80);
}
.scoll .cart>.add-cart:hover,.scoll .cart>span,.exit-war:hover,.zoom-out{
    cursor: pointer;
}
.scoll .cart>span{
    width: 15%;
    float: right;
    color: #fff;
    text-align: center;
    padding-top: 4px;
    height: calc(100% - 4px);
}
#war-banner{
    margin-bottom: 25px;
}
@media(min-width: 767px){
    .unmar-right{margin-right: unset !important;}
    div[id^="product-list-by-category"]>.scoll>ul>li{
        margin-bottom: 25px;
    }
    .col-pro6{
        height: calc(100% - 20px);
        width: calc(16.66666667% - 40px);
        float: left;
        padding: 10px 10px;
        background: rgba(255, 255, 255, 0.2);
        margin-right: 24px;
    }
    .col-pro5{
        height: calc(100% - 20px);
        width: calc(20% - 40px);
        float: left;
        padding: 10px 10.4px;
        background: rgba(255, 255, 255, 0.2);
        margin-right: 24px;
    }
    .col-pro4{
        height: calc(100% - 20px);
        width: calc(25% - 38px);
        float: left;
        padding: 10px 10px;
        background: rgba(255, 255, 255, 0.2);
        margin-right: 24px;
    }
}
/*END CONTENT*/
/*FOOTER*/
#footer{
    padding-top: 20px;
}
#footer .title-page>h3{
	margin-left: 40px;
    width: calc(100% - 40px);
}
#footer-upper{
    padding-top: 25px;
}
#footer-upper .col33>ul{
	width: calc(100% - 40px);
}
#footer-upper .col33>ul>li{
	width: 100%;
	height: 40px;
	float: left;
    margin-bottom: 20px;
}
#footer-product>ul>li{
	margin-bottom: unset !important;
}
#footer-product>ul>li a{
    color: rgb(255, 255, 255);
	font-family: Roboto;
    line-height: 1.2;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0px;
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 13px;
    padding-left: 20px;
    font-size: 15px;
    text-align: center;
}
#footer-upper .col33>ul>li h4,#footer-upper .col33>ul>li p{
	margin-top: unset;
	margin-bottom: unset;
}
#footer-upper .col33>ul>li>.contact-left{
    width: 38px;
    height: 33px;
    float: left;
    text-align: center;
    font-size: 20px;
    padding-top: 5px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.2);
}
#footer-upper .col33>ul>li>.contact-right{
	width: calc(100% - 50px);
    height: 40px;
    float: left;
    padding-left: 10px;
    overflow: hidden;
}
#footer-bottom{
	padding-top: 20px
}
#footer-bottom .footer-infomation a{
    color: rgb(255, 255, 255);
    font-size: 13px;
    font-weight: normal;
}
#footer-bottom .footer-infomation a:hover{
	text-decoration: underline;
	color: rgb(77, 69, 80)
}
#footer-bottom .footer-infomation h4{
	margin: 0px;
    padding: 5px 0px;
}
#abouts-us>p{
    width: calc(100% - 40px);
    padding: 0px 20px;
    min-height: 10px;
    float: left;
}
#zoom-images{
    width: 100%;
    height: 100%;
    float: left;
    position: fixed;
    background: rgba(0, 0, 0, 0.6);
}
#zoom-images>.war-images{
    width: 800px;
    height: 550px;
    margin: 0px auto;
    text-align: center;
    margin-top: 50px;
    background: #fff;
}
#zoom-images>.war-images>img{
    width: auto;
    height: 100%;
}
#zoom-images>.war-images>.exit-war{
    width: 25px;
    min-height: 25px;
    margin: 0px;
    float: right;
    background: red;
    font-weight: bold;
}
.zoom-out{
    width: 30px;
    height: 27px;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    padding-top: 3px;
    margin-top: 75px;
}
.zoom-out4{
    margin-left: 95px;
}
.zoom-out5{
    margin-left: 85px;
}
.zoom-out6{
    margin-left: 75px;
}

/*COPY RIGHT*/
#copyright{
	text-align: center;
}